#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading{
  font-family: roboto;
  font-size: 22px;
  text-align: center;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.read-or-hide {
  color: royalblue;
  cursor: pointer;
}



.read-the-docs {
  color: #888;
}
.card{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
 
}

.leftSideCard{
  max-width: 50%;
  height: 100vh;
  flex-shrink: 0;
  flex-grow: 1;
  margin-left: auto;
  overflow-y: auto;
   
}
.rightSideCard{
  flex-shrink: 0;
  width: 60%;
  flex-grow: 1;
  height: 60%;
}


.semi-card{
  background-color: transparent;
  border-radius: 15px;
  border: 3px solid burlywood;
  flex-grow: 1;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  margin: 10px;
}
  .loadingStyle{
     color: #ffffff;
     font-size: 55px;
     font-weight:bold;
  }
 
.App-header {
  color: blue;
  text-align: center;
 
}

.bg-conatiner{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-link {
  color: black;
  font-style: roboto;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 5px;
}

h4{
  color: black;
  font-style: roboto;
  font-size: 25px;
  font-style: italic;
  margin-bottom: 5px;
}
.buttonContainer{
  text-align: right;
}
.stylingBle{
  color: white;
  background-color: black;
  padding: 10px;
  font-family: roboto;
}
.bodyStyling{
  width: 100%;
}
.detailedViewcontainer{
  display: flex;
  justify-content: center;
}

h1{
  font-family: roboto;
  color: black;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
}

.idstyling{
  font-family: roboto;
  font-size: 25px;
  color: black;
  font-weight: bold;
  font-style: oblique;
  align-self: center;
  margin-top: 10px;
  border: 3px solid grey;
}

span{
  font-family: roboto;
  font-size: 200px;
  color: blue;
  font-weight: 900;
  font-weight: bold;
  font-style: italic;
}